*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.body {
  background: linear-gradient(to bottom, #f8c8dc, #e6e6fa);
  color: #333;
}

.navbar {
  background-color: #1a1a1a;
  padding: 4px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: 30px auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
   height: 50px;
   border-radius: 50px;
   color: #333;
   border: 1px solid #FACC0B;
   fill: gold;
 }

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background 0.3s;
}

.nav-links a.active {
  background-color: gold;
  color: black;
}

.nav-links a:hover {
  background-color: gold;
  color: black;
}

.about-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.about-section h2 {
  color: red;
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

 .mission-section{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

 .mission-section h2 {
  color: #252CD2;
  font-size: 2rem;
  margin-bottom: 10px;
}

.mission-section ul{
    padding: 10px;
    line-height:1.6;
    color: black;
}

 .history-section{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  
}

 .history-section h2 {
  color: #252CD2;
  font-size: 2rem;
  margin-bottom: 10px;
}

 .history-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

.vision-section {
    max-width: 800px;
    margin: 40px auto;
    padding:20px;
}

.vision-section h2{
    color: Green;
    font-size: 2em;
    margin-bottom: 10px;
}

.vision-section ul{
    padding: 10px;
    color: black;
}


.team-section {
  text-align: center;
  background: linear-gradient(to bottom, #e6f0ff, #ffffff);
  padding: 60px 20px;
}

.team-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: bold;
  color: #000;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-member {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ccc;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}