.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #121212;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.ticket-btn .yellow-btn {
  background-color: #ffd400;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}